<h1>Account Number: <%= @bank_account.account_number %></h1>
<small><%=@bank_account.client %></small><br/>

<%= button_tag :new_transaction,  id: "btn-new-transaction", class: "btn btn-primary" %>

<table class = "table table-bordered">
  <thead>
     <tr>
       <th>Date of transaction</th>
       <th>Transaction_type</th>
       <th>Amount</th>
     </tr>
  </thead
  
  <tbody>
    <% @bank_account.account_transactions.each do |t| %>
        <tr>
          <td><%=t.created_at %></td>
          <td><%=t.transaction_type %></td>
          <td><%=number_to_currency(t.amount, unit: "P") %></td>
        </tr>
    <% end %>
    <tr>
      <th></th>
      <th>Balance</th>
      <th><%= number_to_currency(@bank_account.balance, unit: "P") %></th>
    </tr>
  </tbody>
</table>

<div class="modal fade modal-fade", id: "modal-transaction">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        </button>
        <h4 class="modal-title"> New Transaction </h4>
      </div>
      <div class="modal-body">
        <div class="row"></div>
        <div class="col-md-6"></div>
        <label>Amount</label>
        <%= text_field_tag :amount,0.00, id: "input-amount", class: "form-control" %>
        <div class="col-md-6"></div>
        <label>Transaction_type</label>
        <%=select_tag :transaction_type, options_for_select(AccountTransaction::TRANSACTION_TYPES), id: "select-transaction-type", class: "form-control"%>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button<div id="btn-save"></div> class="btn btn-primary" {type="button">} Save</button>
      </div>
    </div>
  </div>
</div>






<%= javascript_include_tag "bank_accounts/show" %>
<script>
$(document).ready(function(){
  show.init();
});
</script>